name: Build Forge 1.12.2 Mod

on:
  push:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Java 8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Setup Forge workspace
        run: ./gradlew setupDecompWorkspace --stacktrace

      - name: Build mod
        run: ./gradlew build --stacktrace

      - name: Upload built jar
        uses: actions/upload-artifact@v3
        with:
          name: ashmod
          path: build/libs/*.jar
